<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TMA lab tour</title>
    <meta name="description" content="360&deg; TMA lab tour">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="vendor/css/angular-material.css"/>
    <link rel="stylesheet" href="css/mystyle.css"/>

    <script src="vendor/js/aframe.min.js"></script>
    <script src="vendor/js/aframe-animation-component.min.js"></script>
    <script src="vendor/js/aframe-event-set-component.min.js"></script>
    <script src="vendor/js/aframe-layout-component.min.js"></script>
    <script src="vendor/js/aframe-template-component.min.js"></script>

    <script src="vendor/js/jquery-3.2.1.js"></script>

    <script src="vendor/js/angular.js"></script>
    <script src="vendor/js/angular-animate.min.js"></script>
    <script src="vendor/js/angular-route.min.js"></script>
    <script src="vendor/js/angular-resource.min.js"></script>
    <script src="vendor/js/angular-aria.min.js"></script>
    <script src="vendor/js/angular-material.min.js"></script>

    <script src="js/set-image.js"></script>
    <script src="js/app.js"></script>
    <script src="js/model.js"></script>
    <script src="js/scene-gen.js"></script>


</head>
<body>
<md-toolbar ng-controller="AppCtrl" ng-app="App" ng-cloak id="toolbar" style="min-height: 35px; position:fixed;"
            ng-style="{background: '#00A1E4'}" layout="column"
            md-whiteframe="8">
    <div style="height: 35px" layout="row" layout-align="start center">

        <md-button ng-init="a = -1" md-whiteframe={{a}} ng-mouseenter="a = 8" ng-mouseleave="a = -1"
                   class="md-icon-button" aria-label="Settings">
            <md-icon style="color: white" aria-label="Menu" class="material-icons">home</md-icon>
        </md-button>

        <md-button ng-init="b = -1" md-whiteframe={{b}} ng-mouseenter="b = 8" ng-mouseleave="b = -1"
                   class="md-icon-button" aria-label="More">
            <md-icon style="color: white" aria-label="Menu" class="material-icons">stars</md-icon>
        </md-button>

        <md-button ng-init="c = -1" md-whiteframe={{c}} ng-mouseenter="c = 8" ng-mouseleave="c = -1"
                   ng-click="searchBarVis=!searchBarVis;" class="md-icon-button" aria-label="More">
            <md-icon style="color: white" aria-label="Menu" class="material-icons">search</md-icon>
        </md-button>

        <h2 align="center" flex>TMA lab tour</h2>

        <md-button ng-init="d = -1" md-whiteframe={{d}} ng-mouseenter="d = 8" ng-mouseleave="d = -1" ng-click=""
                   class="md-icon-button" aria-label="More">
            <md-icon style="color: white" aria-label="Menu" class="material-icons">info</md-icon>
        </md-button>

    </div>

    <md-content layout="row" layout-align="start center" ng-hide="!searchBarVis" layout-padding>
        <div>
            <md-input-container>
                <label>Search</label>
                <input ng-model="searchtext">
            </md-input-container>
        </div>

        <md-card ng-click="click(i)" ng-repeat="i in searchRes" md-whiteframe="{{cardwhiteframe}}"
                 style="max-width:300px; height: auto" ng-mouseenter="cardwhiteframe = 10"
                 ng-mouseleave="cardwhiteframe = 3" ng-mousedown="cardwhiteframe = 3" ng-mouseup="cardwhiteframe = 10">
            <img ng-src="{{i.thumb}}" class="md-card-image" style="max-height: 80px; width: auto">
            <div layout-padding>
                <div layout="column">
                    <span layout-fill>{{i.name}}</span>
                </div>
            </div>
    </md-content>
</md-toolbar>
<code id="putScene"></code>

</body>
</html>
